.titulinis {
    cursor: default;
    font-family: 'Libre Baskerville', serif;
    ;
    text-align: center;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    float: left;
    width: 100%;
    padding: 9px 15px;
    font-size: 13px;
    letter-spacing: .6px;
    background: #bb985b;
    color: #000000;
}

.container {
    cursor: default;
    font-size: 12px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    margin: 0 auto;
    width: 100%;
    max-width: 1260px;
    padding: 0 15px;
    height: 90px;
    position: relative;
}

.left {
    cursor: default;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    width: calc(50% - 35px);
    height: 90px;
    font-size: 15px;
    float: left;
    padding-right: 65px;
    text-align: right;
}

.right {
    cursor: default;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    width: calc(50% - 35px);
    height: 90px;
    font-size: 15px;
    float: right;
    padding-left: 65px;
    text-align: left;
}

.meniu {
    cursor: default;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: right;
    margin: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    image-rendering: -webkit-optimize-contrast;
    padding: 40px 7px;
    display: inline-block;
    letter-spacing: .4px;
    position: relative;
}

.meniu2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    text-align: right;
    margin: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
    color: #222;
    image-rendering: -webkit-optimize-contrast;
    padding: 40px 18px;
    display: inline-block;
    letter-spacing: .4px;
    position: relative;
}

.logo {
    font-size: 12px;
    font-family: 'libre baskerville regular';
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    text-decoration: none;
    color: #222;
    display: inline-block;
    image-rendering: -webkit-optimize-contrast;
    cursor: pointer;
    width: 145px;
    height: 60px;
    position: absolute;
    left: 43%;
    top: 52%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.cart {
    font-size: 12px;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    display: block;
    image-rendering: -webkit-optimize-contrast;
    position: absolute;
    top: 50%;
    right: 15px;
    padding-right: 12px;
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}